body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.header {
  height: 100px;
}

.livro-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.livros-lista-container {
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 20px;
  padding-top: 10px;
}

.livro-card {
  width: 200px;
  height: 250px;
  text-align: center;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 9px 9px 8px -6px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.livro-card img {
  width: 100%;
}

.livro-card-titulo {
  border-top: 1px solid gray;
  padding-top: 2px;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10pt;
}
